<%-include("partials/header") %>

<header class="jumbotron">
  <h1>Campgrounds</h1>
</header>

<div class="row" style="display:flex; flex-wrap:wrap;">
  <%campgrounds.forEach((campground)=>{%>
    <div class="col-md-3 col-sm-6">
      <div class="card">
        <img class="card-img-top" src="<%=campground.image%>" alt="">  
        <div class="card-body">
          <div class="card-title">
            <h4><%=campground.name%></h4>
          </div>
        </div>
      </div>      
    </div>
  <%})%>  
</div>


<%-include("partials/footer")%>